@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary */
    --red: 1deg 90% 64%;
    --blue: 219deg 85% 26%;
    /* Netral */
    --white: 0deg 0% 100%;
    --very-light-grayish-blue: 210deg 60% 98%;
    --light-grayish-blue-1: 211deg 68% 94%;
    --light-grayish-blue-2: 205deg 33% 90%;
    --grayish-blue: 219deg 14% 63%;
    --dark-grayish-blue: 219deg 12% 42%;
    --very-dark-blue: 224deg 21% 14%;
  }
}

@font-face {
  font-family: 'JakartaSans';
  src: url('../src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
